@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  height:100vh
}

#firstSecDiv {
  background-image: url('../public/background.jpg');
  background-repeat:no-repeat;
  background-position: center center;
}
